.title{
    text-align: center;
}
#boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}
.box{
    border: solid  #ffe0e0 3px;
    background-color: #ffeaea;
    height: 1cm;
    flex: 1 1 2cm;
    min-width: 120px;
    box-sizing: border-box;
    text-align: center;
}
